@use 'variables';
@use 'mixins';

:root {
    font-size: 10px;
}
html {scrollbar-gutter: stable;}
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    outline-offset: 0px;
    outline-color: transparent;
    border: 0;
    // border: 1px solid green;
}
*:focus-visible:not(.noframe) {
    outline: .1rem solid variables.$primary-color;
    outline-offset: .2rem;
}

@media (prefers-reduced-motion: no-preference) {
  * {
    interpolate-size: allow-keywords;
    transition-duration: variables.$anim_speed;
    transition-timing-function: ease;
  }
}
@media (prefers-reduced-motion: reduce) {
  * {
    transition-duration: 0ms;
  }
}

body {
    background-color: variables.$white;
    color: variables.$secondary-light;
    
    font-family: variables.$font-stack;
}
button {
    background-color: transparent;
    border: 0;
}
h1 {font-size: 1.8rem;}
h2 {font-size: 2.4rem;}
h3 {font-size: 1.2rem;}
h1, h2, h3 {
    color: variables.$primary-color;
    font-weight: variables.$font-bold;
}
h2 {color: variables.$secondary-color;}
.subtitle {
    font-size: 1.2rem;
    font-weight: variables.$font-regular;
    color: variables.$primary-color;
    max-width: 30ch;
}

.color-primary {
    color: variables.$primary-color;
}
.color-primary-medium {
    color: variables.$primary-medium;
}
.color-primary-light {
    color: variables.$primary-light;
}
.color-secondary {
    color: variables.$secondary-color;
}
.color-secondary-medium {
    color: variables.$secondary-medium;
}
.color-secondary-faint {
    color: variables.$secondary-light;
}
.color-secondary-light {
    color: variables.$secondary-faint;
}


.flex   {display: flex;}
.flex-col {flex-direction: column;}
.w-1\/2 {width: 50%;}
.w-1\/3 {width: 33.3%;}
.w-2\/3 {width: 66.6%;}
.space-between {
    display: flex;
    justify-content: space-between;
}
.p-1 {padding: 0.25rem;}
.p-2 {padding: 0.5rem;}
.p-3 {padding: 0.75rem;}
.p-4 {padding: 1rem;}
.noframe {border: 0 !important; outline: 0 !important;}
.w-auto {width: auto;}
// Mobile

.errorField {
    position: relative;
    display: none; //flex;

    max-width: 25rem;

    margin-inline: auto;
    padding-left: 2.4rem;

    font-size: 1rem;
    line-height: 1.25rem;
    text-align: center;

    color: variables.$secondary-color;
}
.errorField::before {
    content: var(--icon);

    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;

    align-self: center;
    margin-right: 1rem;

    font-size: 2.4rem;
    color: variables.$primary-color;
}
.errorField.show {
    display: flex;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: auto;
    height: 6rem;
    z-index: 99;

    display: flex;
    justify-items: center;
    align-items: center;

    background-color: variables.$white;

    div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding-inline: 1.2rem;
    }
    #logo {
        font-weight: variables.$font-bold;
        font-size: 1rem;

        line-break: normal;

        color: variables.$secondary-color;

        text-decoration: none;
        width: 12.5%;
    }
    #pagetitle {
        font-size: 1.8rem;
        font-weight: variables.$font-bold;

        line-height: 100%;
        letter-spacing: 0%;
        
        text-align: center;

        color: variables.$primary-color;
    }
    button {
        width: 12.5%;
        display: flex;
        flex-direction: row;
        justify-content: end;
        svg {
            width: 2.4rem;
            height: 2.4rem;
        }
    }
}
#menushelf {
    position: fixed;
    top: 0;
    left: 0;
    right: 20%;
    bottom: 0;

    padding: 1.2rem;

    z-index: 100;
    transform: translateX(-105%);
    will-change: transform;
    transition: transform variables.$anim_speed;
    overflow-x: hidden;

    background-color: variables.$primary-color;
    color: variables.$white;

    font-weight: variables.$font-bold;

    box-shadow: .4rem 0 .4rem 0 hsla(0, 0%, 0%, 0.25);

    .icon {
        width: 2.4rem;
        svg {
            width: 100%;
            height: auto;
        }
    }
    #globalsearch {
        display: flex;
        flex-direction: row;
        align-items: center;

        gap: 1.2rem;
        .inputframe {
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-grow: 1;

            padding: 0.75rem;

            border: 2px solid variables.$white;

            input {
                background-color: variables.$primary-color;
                flex-grow: 1;

                font-size: 1.8rem;
    
                color: variables.$white;
            }::placeholder{
                color: variables.$white;
            }
            button {
                height: 2.4rem;
                width: 2.4rem;

                opacity: 0;

                cursor: pointer;

                transition: opacity;
            }
        }
        .inputframe:hover button,
        .inputframe:focus-within button {
            opacity: 1;
        }
    }
    ul > li > a {
        display: flex;
        flex-direction: row;
        align-items: center;

        gap: 1rem;
        padding-block: 1.2rem;

        color: variables.$white;
        font-size: 1.8rem;
        text-decoration: none;
        text-transform: capitalize;
        transition: gap variables.$anim_speed;
    }
    ul > li > a:hover {
        gap: 2rem;
    }
}
main {
    contain: layout paint;
    will-change: transform;
    transition: transform variables.$anim_speed;

    margin-top: 6rem;
    padding-inline: 1.2rem;
    padding-block: 0.9rem;
}
#localsearch {
    div {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-grow: 1;
        gap: 1rem;
        
        padding: 1rem;
        
        border: 2px solid variables.$primary-color;
    }
    input {
        flex-grow: 1;
        font-size: 1.8rem;
        color: variables.$primary-color;
    }::placeholder{
        color: variables.$primary-color;
    }
    button {
        width: 2.4rem;
        height: 2.4rem;
        cursor: pointer;
        svg {
            width: 100%;
            height: auto;
            stroke: variables.$primary-color;
        }
    }
    button:hover svg {
        stroke-width: 0.2rem;
    }
    #advSearchBtn {
        display: block;
        padding-block: 0.6rem;
    
        color: variables.$primary-color;
    
        cursor: pointer;
    
        font-weight: variables.$font-bold;
        font-size: 1.2rem;
    }
    #advSearchPanel {
        display: flex;
        flex-direction: column;

        overflow: hidden;
        height: 0;
    
        border: 0;
        opacity: 0;
        transition: height variables.$anim_speed ease-out,
                    opacity variables.$anim_speed ease;
        * {overflow: hidden;}
    }
    #advSearchPanel.open {
        height: auto;
        opacity: 1;
    }
}

#collectionsList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;

    padding-block: 1rem;

    .list_item {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        cursor: pointer;
        text-decoration: none;

        picture, img {
            width: 100%;
            display: block;
            margin: 0;
            padding: 0;
        }
        h3 {
            height: 3.2rem;
            text-overflow: ellipsis;
            margin-top: .6rem;
            text-transform: uppercase;
        }
    }
    .list_item:hover{
        transform: scale(1.05);
        transition: transform variables.$anim_speed;
    }
}

form#tickets {
    margin-block: 1rem;

    fieldset {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: .2rem solid variables.$secondary-faint;
        label {
            position: relative;

            padding-block: .5rem;
            padding-inline: 1rem;

            font-size: 1.8rem;
            text-align: center;
            font-weight: variables.$font-bold;
            color: variables.$secondary-medium;

            transition: margin;

            input[type="radio"] {
                display: none;
            }
        }
        label.active {
            color: variables.$secondary-color;
            margin-top: -0.25rem;
        }
        .indicator {
            position: absolute;
            bottom: -.2rem;
            left: 0;

            height: 3px;
            width: 0;

            background: variables.$primary-color;

            transition:
                transform,
                width;
        }
    }
    #dateinfo {
        position: relative;
        padding: 1rem;
        font-size: 1.2rem;
        font-weight: variables.$font-bold;
        text-align: center;
        color: variables.$secondary-color;
    }
    #info_today,
    #info_tomorrow,
    #info_other {
        display: none;
        height: auto;
        padding-block: .5rem;
        padding-inline: 1rem;
        opacity: 0;
        transition: opacity;
    }
    #info_today.show,
    #info_tomorrow.show,
    #info_other.show {
        display: flex;
        flex-direction: column;
        gap: .1rem;
        opacity: 1;
        text-align: center;
    }
    #info_other {
        h3 {margin-bottom: 1rem; font-size: 1.8rem;}
    }
    #customDate {
        padding-inline: 1rem;
        padding-block: 1rem;
        margin: auto;
        background-color: variables.$white;
        color: variables.$primary-color;
    }
    .ticket_options {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding-block: 4rem;
        padding-inline: 1rem;
    }
    .ticket_type_wrap {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        .ticket_tier {
            font-size: 1.8rem;
            font-weight: variables.$font-bold;
            color: variables.$secondary-color;
        }
        .subtitle {
            color: variables.$secondary-faint;
            font-size: 1.2rem;
            min-height: 1.6rem;
        }
    }
    .amount_selector {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        font-size: 1.8rem;
        color: variables.$secondary-color;
        .current_amount {
            width: 1.2rem;
            font-size: 1.8rem;
            text-align: center;

            -moz-appearance: textfield;
        }
        .current_amount::placeholder {
            color: variables.$secondary-faint;
        }
        // .current_amount[value="0"]{
        //     color: variables.$secondary-faint;
        // }
        .current_amount::-webkit-outer-spin-button,
        .current_amount::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        .one_less,
        .one_more {
            border: 1px solid variables.$secondary-faint;
            width: 1.8rem;
            height: 1.8rem;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    #total {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        padding-inline: 1rem;
        padding-block: .5rem;

        font-size: 1.8rem;
        color: variables.$secondary-color;
        font-weight: variables.$font-bold;

        border-top: .2rem solid variables.$primary-color;

        .total_field {
            min-width: 7rem;
            text-align: center;
        }
    }
}

// Tablet
@media (min-width: variables.$md) {
  nav>div,
  main {
    max-width: 1000px;
    margin-inline: auto;
  }
  #menushelf {
    right: 50%;
  }

}

// Desktop
@media (min-width: variables.$xl) {
  nav>div,
  main {
    max-width: 1250px;
  }
  #menushelf {
    right: 65%;
  }
}

// extras
.timeSelectorPanel {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 2rem #ccc;
    background-color: antiquewhite;
    font-weight: bold;
    font-size: 16px;
    #dateTest {
        margin-block: 1rem;
        margin-inline: auto;
        padding: 1rem;
        border: 2px solid darkgray;
        border-radius: 1rem;
    }
}
