@use 'variables';
@use 'mixins';

:root {
    font-size: 10px;
}
html {scrollbar-gutter: stable;}
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    outline-offset: 0px;
    outline-color: transparent;
    border: 0;
    // border: 1px solid green;
}
*:focus-visible {
    outline: .1rem solid variables.$primary-color;
    outline-offset: .2rem;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
    background-color: variables.$white;
    color: variables.$secondary-light;
    
    font-family: variables.$font-stack;
}
button {
    background-color: transparent;
    border: 0;
}
h1 {font-size: 1.8rem;}
h2 {font-size: 2.4rem;}
h3 {font-size: 1.2rem;}
h1, h2, h3 {
    color: variables.$primary-color;
    font-weight: variables.$font-bold;
}
h2 {color: variables.$secondary-color;}
.subtitle {
    font-size: 1.2rem;
    font-weight: variables.$font-regular;
    color: variables.$primary-color;
}
.flex   {display: flex;}
.flex-col {flex-direction: column;}
.w-1\/2 {width: 50%;}
.w-1\/3 {width: 33.3%;}
.w-2\/3 {width: 66.6%;}

// Mobile
%btn {
    font-size: 1.2rem;
    font-family: variables.$font-stack;
    width: 100%;
    max-width: 25rem;

    position: relative;

    margin-block: 1rem;
    margin-inline: auto;
    
    flex: auto;

    cursor: pointer;

    padding-inline: 2rem;
    padding-block: 1.5rem;

    transition: all variables.$anim_speed;

    background-color: var(--main_color);
    color: var(--contr_color);
    border-color: var(--frame_color);
    box-shadow: 0px 4px 4px 0px variables.$secondary-faint;

}
.btn::after {
    content: var(--icon);
    position: absolute;
    right: 4rem;

    opacity: 0;
    margin-left: 1rem;

    font-size: 2rem;
    line-height: 1.3rem;
    transition: all variables.$anim_speed;
}
.btn:hover::after {
    right: 2rem;
    opacity: 1;
}
.icon-prev  {--icon: '🠈';}
.icon-next  {--icon: '🠊';}
.icon-check {--icon: '✔';}
.icon-x     {--icon: '✖';}
.icon-warn  {--icon: '⚠';}

.btn-primary {
    @extend %btn;
    --main_color: #{variables.$primary-color};
    --contr_color: #{variables.$white};
    --frame_color: var(--main_color);
}
.btn-primary:hover,
.btn-primary:focus-visible {
    --main_color: #{variables.$primary-light};
}
.btn-secondary {
    @extend %btn;
    --main_color: #{variables.$secondary-color};
    --contr_color: #{variables.$white};
    --frame_color: var(--main_color);
}
.ghost {
    @extend %btn;
    --frame_color: var(--main_color);
    --contr_color: var(--main_color);
    background-color: variables.$white;
    border-width: .3rem;
    border-style: solid;
}
.errorField {
    position: relative;
    display: none; //flex;

    max-width: 25rem;

    margin-inline: auto;
    padding-left: 2.4rem;

    font-size: 1rem;
    line-height: 1.25rem;
    text-align: center;

    color: variables.$secondary-color;
}
.errorField::before {
    content: var(--icon);

    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;

    align-self: center;
    margin-right: 1rem;

    font-size: 2.4rem;
    color: variables.$primary-color;
}
.errorField.show {
    display: flex;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: auto;
    height: 6rem;
    z-index: 99;

    padding-inline: 1.2rem;

    display: flex;
    justify-items: center;
    align-items: center;

    div {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    #logo {
        font-weight: variables.$font-bold;
        font-size: 1rem;

        line-break: normal;

        color: variables.$secondary-color;

        text-decoration: none;
        width: 12.5%;
    }
    #pagetitle {
        font-size: 1.8rem;
        font-weight: variables.$font-bold;

        line-height: 100%;
        letter-spacing: 0%;
        
        text-align: center;

        color: variables.$primary-color;
    }
    button {
        width: 12.5%;
        display: flex;
        flex-direction: row;
        justify-content: end;
        svg {
            width: 2.4rem;
            height: 2.4rem;
        }
    }
}
#menushelf {
    position: fixed;
    top: 0;
    left: 0;
    right: 20%;
    bottom: 0;

    padding: 1.2rem;

    z-index: 100;
    transform: translateX(-105%);
    will-change: transform;
    transition: transform variables.$anim_speed;
    overflow-x: hidden;

    background-color: variables.$primary-color;
    color: variables.$white;

    font-weight: variables.$font-bold;

    box-shadow: .4rem 0 .4rem 0 hsla(0, 0%, 0%, 0.25);

    .icon {
        width: 2.4rem;
        svg {
            width: 100%;
            height: auto;
        }
    }
    #globalsearch {
        display: flex;
        flex-direction: row;
        align-items: center;

        gap: 1.2rem;
        .inputframe {
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-grow: 1;

            padding: 0.75rem;

            border: 2px solid variables.$white;

            input {
                background-color: variables.$primary-color;
                flex-grow: 1;

                font-size: 1.8rem;
    
                color: variables.$white;
            }::placeholder{
                color: variables.$white;
            }
            button {
                height: 2.4rem;
                width: 2.4rem;

                opacity: 0;

                cursor: pointer;

                transition: opacity variables.$anim_speed;
            }
        }
        .inputframe:hover button,
        .inputframe:focus-within button {
            opacity: 1;
        }
    }
    ul > li > a {
        display: flex;
        flex-direction: row;
        align-items: center;

        gap: 1rem;
        padding-block: 1.2rem;

        color: variables.$white;
        font-size: 1.8rem;
        text-decoration: none;
        text-transform: capitalize;
        transition: gap variables.$anim_speed;
    }
    ul > li > a:hover {
        gap: 2rem;
    }
}
main {
    contain: layout paint;
    will-change: transform;
    transition: transform variables.$anim_speed;

    margin-top: 6rem;
    padding-inline: 1.2rem;
    padding-block: 0.9rem;
}
#localsearch {
    #advSearchBtn {
        display: block;
        padding-block: 0.6rem;

        color: variables.$primary-color;

        font-weight: variables.$font-bold;
        font-size: 1.2rem;
    }
    div {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-grow: 1;
        gap: 1rem;
        
        padding: 1rem;
        
        border: 2px solid variables.$primary-color;
    }
    input {
        flex-grow: 1;
        font-size: 1.8rem;
        color: variables.$primary-color;
    }::placeholder{
        color: variables.$primary-color;
    }
    button {
        width: 2.4rem;
        height: 2.4rem;
        svg {
            width: 100%;
            height: auto;
            stroke: variables.$primary-color;
        }
    }   
}

#collectionsList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;

    padding-block: 1rem;

    .list_item {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        cursor: pointer;
        text-decoration: none;

        picture, img {
            width: 100%;
            display: block;
            margin: 0;
            padding: 0;
        }
        h3 {
            height: 3.2rem;
            text-overflow: ellipsis;
            margin-top: .6rem;
            text-transform: uppercase;
        }
    }
    .list_item:hover{
        transform: scale(1.05);
        transition: transform variables.$anim_speed;
    }
}

form#tickets {
    // background-color: antiquewhite;

    margin-block: 1rem;

    fieldset {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: .2rem solid variables.$secondary-faint;
        label {
            position: relative;

            padding-block: .5rem;
            padding-inline: 1rem;

            font-size: 1.8rem;
            text-align: center;
            font-weight: variables.$font-bold;
            color: variables.$secondary-medium;

            transition: margin variables.$anim_speed ease;

            input[type="radio"] {
                display: none;
            }
        }
        label.active {
            color: variables.$secondary-color;
            margin-top: -0.25rem;
        }
        .indicator {
            position: absolute;
            bottom: -.2rem;
            left: 0;

            height: 3px;
            width: 0;

            background: variables.$primary-color;

            transition:
                transform variables.$anim_speed ease,
                width variables.$anim_speed ease;
        }
    }
    #dateinfo {
        position: relative;
        padding: 1rem;
        font-size: 1.2rem;
        font-weight: variables.$font-bold;
        text-align: center;
        color: variables.$secondary-color;
    }
    #info_today,
    #info_tomorrow,
    #info_other {
        display: none;
        height: auto;
        padding-block: .5rem;
        padding-inline: 1rem;
        opacity: 0;
        transition: opacity variables.$anim_speed ease;
    }
    #info_today.show,
    #info_tomorrow.show,
    #info_other.show {
        display: flex;
        flex-direction: column;
        gap: .1rem;
        opacity: 1;
        text-align: center;
    }
    #info_other {
        h3 {margin-bottom: 1rem; font-size: 1.8rem;}
    }
    #customDate {
        padding-inline: 1rem;
        padding-block: 1rem;
        margin: auto;
        background-color: variables.$white;
        color: variables.$primary-color;
    }
    .ticket_options {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding-block: 2rem;
        padding-inline: 1rem;
    }
    .ticket_type_wrap {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        .ticket_tier {
            font-size: 1.8rem;
            font-weight: variables.$font-bold;
            color: variables.$secondary-color;
        }
        .subtitle {
            color: variables.$secondary-faint;
            font-size: 1.2rem;
            min-height: 1.6rem;
        }
    }
    .amount_selector {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        font-size: 1.8rem;
        .current_amount {
            width: 1.2rem;
            color: variables.$secondary-color;
            font-size: 1.8rem;
            text-align: center;
            
            -moz-appearance: textfield;
        }
        .current_amount::-webkit-outer-spin-button,
        .current_amount::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        .one_less,
        .one_more {
            border: 1px solid variables.$secondary-faint;
            width: 1.8rem;
            height: 1.8rem;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

// Tablet
@media (min-width: variables.$md) {
  nav>div {
    max-width: 1000px;
  }
}

// Desktop
@media (min-width: variables.$xl) {
  nav>div {
    max-width: 1500px;
  }
}

// extras
.timeSelectorPanel {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 2rem #ccc;
    background-color: antiquewhite;
    font-weight: bold;
    font-size: 16px;
    #dateTest {
        margin-block: 1rem;
        margin-inline: auto;
        padding: 1rem;
        border: 2px solid darkgray;
        border-radius: 1rem;
    }
}
